@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(images/background.jpg);
    background-size: 100%;
    background-attachment: fixed;
    overflow: hidden;
    zoom: 100%;
}


h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 3.6vw;
    color: white;
    letter-spacing: 0.5vw;
    display: inline-block;
}


#container {
    position: relative;
    background-color: #ececec;
    width: 27.1vw;
    height: 42vw;
    margin: auto;
    border-radius: 1vw;
    margin-top: -5px;
    box-shadow: 3px 30px 80px black;
    display: inline-block;
}

#result-display {
    position: absolute;
    width: 24vw;
    height: 15vw;
    margin: 2vw 1vw 1vw 1.5vw;
    border-bottom: 1px lightgray;
    border-bottom-style: solid;

}

#top-row {
    width: 24vw;
    height: 7.5vw;
    overflow-x: auto;
}

#bottom-row {
    width: 24vw;
    height: 7.5vw;
    overflow-x: hidden;
}

#functionality {
    position: absolute;
    width: 26vw;
    height: 25.7vw;
    margin-top: 17.1vw;
    margin-left: 0.5vw;
}

.text {
    text-align: right;
    font-size:4vw;
    font-family: 'Roboto', sans-serif;
}

.top-text {
    margin-bottom: 7vw;
}
span {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn {
    padding: 1.56vw 2.29vw 1.40vw 2.64vw;
    margin-left: 0.15vw;
    background-color: inherit;
    border:none;
}

.btn-color-green {
    color: #01472F;
}

.btn-bgcolor-green {
    background-color: #01472F;
}

.btn-text {
    font-size: 1.24vw;
    font-weight: bold;
}

.btn-text-green {
    color: #01472F;
}

.equal-btn-text {
    font-size: 1.27vw;
    padding-right: 37px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.9vw;
    border-top-left-radius: 0;
    color: white;
}

.btn-disabled {
    display: none;
}

.small-text {
    font-size:3vw;
}
.more-small-text {
    font-size:2vw;
}

@media only screen and (max-width: 1000px){
    #container {
        position: relative;
        background-color: #ececec;
        width: 86.1vw;
        height: 90vw;
        margin: auto;
        border-radius: 1vw;
        margin-top: 0;
    }
    #result-display {
        position: absolute;
        width: 81vw;
        height: 33vw;
        margin: 2vw 2vw 2vw 2vw;
        border-bottom: 1px lightgray;
        border-bottom-style: solid;
    }
    #functionality {
        position: absolute;
        width: 85.4vw;
        height: 55vw;
        margin-top: 35.1vw;
        margin-left: 0.2vw;
    }

    h1 {
        font-family: 'Secular-One', sans-serif;
        font-weight: bold;
        font-size: 11.5vw;
        color: #ff7433;
        letter-spacing: 0.45vw;
    }

    .btn {
        padding: 2.8vw 8.56vw 2.8vw 8.56vw;
        margin-left: 0.15vw;
        background-color: inherit;
        border: none;
    }

    .btn-text {
        font-size: 3.24vw;
        font-weight: bold;
    }

    .btn-bgcolor-burning-orange {
        background-color: #ff7433
    }

    .ico {
        size: 0.1vw;
    }
}



